body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  margin: 5vh 1vw 0 1vw;
  font-size: 3vh;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
  margin: 2vh;
  font-size: 2.25vh;
}

input[type=text],
input[type=number] {
  font-size: 1.75vh;
  color: darkblue;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-row-gap: 1vh;
  background-color: black
}

.App .topic-swatch,
.App .topic-swatch__selected {
  cursor: pointer;
  display: grid;
  height: 18vh;
  width: 18vw;
  color: white;
  transition: all 0.4s ease-in-out;
  margin: 1vw;
  border-radius: 1vw
}

.App .topic-swatch__selected {
  cursor: text;
  background-color: black !important;
}

.App .topic-swatch .group {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.App .topic-swatch:hover {
  transform: scale(1.2);
  color: black;
}

.App .topic-swatch:active {
  background-color: white
}

.logout-button {
  position: absolute;
  right: 2vw;
  top: 3vh;
  align-items: center;
}

.logout-button svg {
  margin-right: 0.5vw;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.849);
}

.popup_inner {
  display: flex;
  position: absolute;
  left: 30vw;
  right: 30vw;
  top: 25vh;
  bottom: 25vh;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: auto;
  border-radius: 20px;
  background: white;
  opacity: 0.96;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup_inner .message,
.popup_inner .login
{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.login-code {
  font-weight: 800;
  font-size: 2.25vh;
  color: blueviolet;
}

.login-code-input {
  display: flex;
  flex-direction: row;
  height: 5vh;
}

.login-code-input input {
  align-items: center;
  width: 20vw;
}

.login-code-input input[type=text] {
  font-size: 2vh;
  color: blueviolet;
  font-weight: bold;
}

.login-code-input button {
  align-items: center;
  margin-left: 1vw;
}

.popup-login {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url("/logo512.png");
  background-size: cover;
}

.popup-login button {
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  font-size: 2vh;
  padding: 2vh;
}

button {
  cursor: pointer;
  border-radius: 1vh;
  border: none !important;
  background-color: blueviolet;
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 2vh;
  padding: 1vh;
  transition: 0.1s ease-in-out;
}

button:hover {
  background-color: mediumvioletred;
}

.Admin {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.projects-container,
.create-project-container {
  display: flex;
  justify-content: center;
  margin: 2vh;
}

.create-project-container {
  padding-top: 2vh;
}

.create-project-container .project-swatch-detail {
  padding-top: 2vh;
}

.project-swatch {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 70vw;
  color: white;
  transition: 0.3s ease-out;
  border-radius: 1vw;
  background-color: blueviolet;
}

.project-swatch:hover {
  background-color: #1163ae;
}

.project-title {
  margin: 0;
  padding: 1vh;
}

.project-swatch-detail {
  background-color: #1163ae;
  height: 80vh;
  width: 70vw;
  border-radius: 1vw;
  transition: all 0.3s ease-out;
}

.project-swatch-detail .project-title {
  margin-top: 2vh;
  color: white
}

.project-detail {
  display: grid;
  grid-template-columns: 30vw 40vw;
  justify-items: center;

}

.topic-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.topic-container ol {
  margin-top: 0;
  width: 25vw;
  margin-left: 5vw;
}

.topic-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1vh;
  width: 26vw;
  margin-left: 2vw;
}

.topic-container h3 {
  color: white;
  margin-right: 3vw;
}

.edit-button {
  background-color: mediumvioletred;
  align-items: center;
  font-size: 1.75vh;
}

.edit-button:hover {
  background-color: blueviolet;
}

.edit-button svg {
  margin-right: 0.5vw;
}

.add-button {
  background-color: mediumvioletred;
  align-items: center;
  justify-content: center;
  font-size: 1.75vh;
  margin: 0 10vw;
}

.add-button:hover {
  background-color: blueviolet;
}

.add-button svg {
  margin-right: 0.5vw;
}

.topic-container li {
  color: white;
  padding: 1px 2px;
  height: 21px;
  width: 25vw;
}

.topic-input {
  display: flex;
  align-items: center;
  width: 25vw;
}

.delete-topic {
  cursor: pointer;
  opacity: 0.6;
}

.delete-topic:hover {
  opacity: 1;
}

.topic-container li input {
  width: 18vw;
  margin-right: 0.5vw;
}

.form-fields {
  margin-top: 2vh;
  height: 70vh;
}

.form-inline {
  display: grid;
  grid-template-columns: auto auto;
}

.form-inline label {
  color: white;
  text-align: right;
  margin: 1vh 2vh 1vh 0;
  width: 12vw;
}

.form-inline input {
  vertical-align: middle;
  margin: 1vh 2vh 1vh 0;
  padding: 1vh;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 20vw;
}

textarea {
  width: 20vw;
  resize: none;
  margin: 1vh 2vh 1vh 0;
  padding: 1vh;
  height: 16vh;
  color: darkblue;
  font-family: Arial, sans-serif;
  font-size: 1.75vh;
}

.submit-button {
  position: absolute;
  width: 6vw;
  bottom: 12vh;
  right: 18vw;
  justify-content: center;
  font-size: 2vh;
  min-width: 45px;
  background-color: mediumvioletred;
}

.submit-button:hover {
  background-color: blueviolet;
}

.new-project-button {
  align-self: center;
  justify-content: center;
  width: 20vw;
}

.new-project-button a {
  color: white;
}

.new-project-button svg {
  margin-right: 0.5vw;
}

