body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  margin-top: 5vh;
  font-size: 3vh;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
  margin: 2vh;
  font-size: 2.25vh;
}

button {
  cursor: pointer;
  border-radius: 1vh;
  background-color: rebeccapurple;
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 2vh;
  padding: 1vh;
}

button:hover {
  background-color: mediumvioletred;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-row-gap: 1vh;
  background-color: black
}

.App .project-swatch {
  cursor: pointer;
  display: grid;
  height: 18vh;
  width: 18vw;
  color: white;
  transition: all 0.4s ease-in-out;
  margin: 1vw;
  border-radius: 1vw
}

.App .project-swatch .group {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.App .project-swatch:hover {
  transform: scale(1.2);
  color: black;
}

.App .project-swatch:active {
  background-color: white
}

.logout-button {
  position: absolute;
  right: 1vw;
  top: 3vh;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.849);
}

.popup_inner {
  display: flex;
  position: absolute;
  left: 30vw;
  right: 30vw;
  top: 25vh;
  bottom: 25vh;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: auto;
  border-radius: 20px;
  background: white;
  opacity: 0.96;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popup_inner .message,
.popup_inner .login
{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.popup-login {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url("/logo512.png");
}

.popup-login button {
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
  font-size: 2vh;
  padding: 2vh;
}
